<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.fasa.todo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/ic_todo"
        android:label="@string/app_name" >
        <activity android:name=".activity.Tela_inicial" android:label="@string/title_activity_tela_inicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><activity
            android:name=".activity.ToDoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="br.edu.fasa.todo.activity.ToDoFormActivity" />
        <activity android:name=".activity.Livro_Activity" >
        </activity>
        
    </application>

</manifest>